.payload-rich-text {
  & > img {
    @apply mx-auto my-8 max-w-lg rounded-lg shadow-sm;
  }

  & > hr {
    @apply mb-4;
  }

  & > h1 {
    @apply mt-10 mb-6 text-2xl font-medium text-gray-900;
  }

  & > h2 {
    @apply mt-10 mb-6 text-xl font-medium text-gray-900;
  }

  & > h3 {
    @apply mt-10 mb-2 text-lg font-medium text-gray-900;
  }

  & > h4 {
    @apply mt-10 mb-2 text-lg font-medium text-gray-900;
  }

  & > h5 {
    @apply mt-8 mb-2 text-lg font-medium text-gray-900;
  }

  & > h6 {
    @apply text-md mt-8 mb-2 leading-relaxed;
  }

  & > p {
    @apply mb-4 text-base leading-relaxed;
  }

  & a,
  & p a,
  & * a {
    @apply cursor-pointer text-blue-500 underline-offset-2 hover:underline;
  }

  & > ul {
    @apply mb-4 list-inside list-disc;
  }

  & > ol {
    @apply mb-4 list-inside list-decimal;
  }

  & > ul > li {
    @apply text-base leading-relaxed;
  }

  & > ol > li {
    @apply text-base leading-relaxed;
  }

  & > ul > li > a {
    @apply text-blue-500 underline-offset-2 hover:underline cursor-pointer;
  }
}
